@media (max-width: 700px) {
  .top-nav {
    display: none
  }
}

a {
  color: black;
  text-decoration-line: none;
}

.top-nav li a:hover,
.top-nav li a:focus {
  color: #e74c3c;
}

.top-nav ul ul a:hover,
.top-nav ul ul a:focus {
  background-color: #e74c3c;
  color: white;
}

.top-footer {
  background-color: #555555;
}

.top-footer li a {
  color: darkgray;
}

.top-footer ul ul li a {
  color: grey;
}

.top-footer ul ul li a:hover,
.top-footer ul ul li a:focus {
  color: #e74c3c;
}

.bottom-footer {
  background-color: black;
}

.bottom-footer,
.bottom-footer a {
  color: grey;
}

.bottom-footer a:hover,
.bottom-footer a:focus {
  color: white;
}
